BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "STM_LCW[1]" SITE "B1" ;
IOBUF PORT "STM_LCW[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[1]" SITE "B2" ;
IOBUF PORT "STM_LCCW[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[3]" SITE "C3" ;
IOBUF PORT "STM_LCW[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[4]" SITE "D3" ;
IOBUF PORT "STM_LCW[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[2]" SITE "C1" ;
IOBUF PORT "STM_LCW[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[5]" SITE "E3" ;
IOBUF PORT "STM_LCCW[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[2]" SITE "C2" ;
IOBUF PORT "STM_LCCW[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[7]" SITE "F3" ;
IOBUF PORT "STM_LCW[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[3]" SITE "D1" ;
IOBUF PORT "STM_LCCW[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[7]" SITE "F4" ;
IOBUF PORT "STM_LCCW[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[5]" SITE "E2" ;
IOBUF PORT "STM_LCW[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[8]" SITE "F5" ;
IOBUF PORT "STM_LCW[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[10]" SITE "G5" ;
IOBUF PORT "STM_LCCW[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[6]" SITE "F2" ;
IOBUF PORT "STM_LCCW[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[10]" SITE "G4" ;
IOBUF PORT "STM_LCW[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[4]" SITE "E1" ;
IOBUF PORT "STM_LCCW[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[6]" SITE "F1" ;
IOBUF PORT "STM_LCW[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[9]" SITE "G3" ;
IOBUF PORT "STM_LCCW[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[9]" SITE "G2" ;
IOBUF PORT "STM_LCW[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[11]" SITE "H3" ;
IOBUF PORT "STM_LCCW[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[12]" SITE "H5" ;
IOBUF PORT "STM_LCCW[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[13]" SITE "J4" ;
IOBUF PORT "STM_LCCW[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[12]" SITE "H4" ;
IOBUF PORT "STM_LCW[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[8]" SITE "G1" ;
IOBUF PORT "STM_LCCW[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[13]" SITE "J3" ;
IOBUF PORT "STM_LCW[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCW[11]" SITE "H2" ;
IOBUF PORT "STM_LCW[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "UP_CLK" SITE "M1" ;
IOBUF PORT "UP_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=OFF TERMINATION=OFF ;
LOCATE COMP "PTLEDb[3]" SITE "K4" ;
IOBUF PORT "PTLEDb[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PTLEDb[4]" SITE "L4" ;
IOBUF PORT "PTLEDb[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PTLEDb[6]" SITE "K5" ;
IOBUF PORT "PTLEDb[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PTLEDb[7]" SITE "L5" ;
IOBUF PORT "PTLEDb[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "UP_TXD" SITE "N1" ;
IOBUF PORT "UP_TXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PTLEDb[1]" SITE "L3" ;
IOBUF PORT "PTLEDb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PTLEDb[2]" SITE "M3" ;
IOBUF PORT "PTLEDb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "UP_RXD" SITE "P1" ;
IOBUF PORT "UP_RXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PTLEDb[5]" SITE "M4" ;
IOBUF PORT "PTLEDb[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SLVADR[0]" SITE "N3" ;
IOBUF PORT "SLVADR[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[4]" SITE "N4" ;
IOBUF PORT "SLVADR[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[1]" SITE "P3" ;
IOBUF PORT "SLVADR[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[5]" SITE "P4" ;
IOBUF PORT "SLVADR[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[6]" SITE "R4" ;
IOBUF PORT "SLVADR[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[2]" SITE "R3" ;
IOBUF PORT "SLVADR[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[3]" SITE "T3" ;
IOBUF PORT "SLVADR[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PTLEDb[8]" SITE "M5" ;
IOBUF PORT "PTLEDb[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SLVADR[7]" SITE "T4" ;
IOBUF PORT "SLVADR[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_PCK[6]" SITE "P12" ;
IOBUF PORT "STM_PCK[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[5]" SITE "P11" ;
IOBUF PORT "STM_PCK[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[1]" SITE "N11" ;
IOBUF PORT "STM_PCK[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[2]" SITE "N12" ;
IOBUF PORT "STM_PCK[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[11]" SITE "R12" ;
IOBUF PORT "STM_PCK[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[13]" SITE "R14" ;
IOBUF PORT "STM_PCK[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[12]" SITE "R13" ;
IOBUF PORT "STM_PCK[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[7]" SITE "P13" ;
IOBUF PORT "STM_PCK[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[8]" SITE "P14" ;
IOBUF PORT "STM_PCK[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[3]" SITE "N13" ;
IOBUF PORT "STM_PCK[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[4]" SITE "N14" ;
IOBUF PORT "STM_PCK[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "S2P_SDO" SITE "M13" ;
IOBUF PORT "S2P_SDO" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[10]" SITE "P16" ;
IOBUF PORT "STM_PCK[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STMVREF_SDA" SITE "M14" ;
IOBUF PORT "STMVREF_SDA" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_PCK[9]" SITE "P15" ;
IOBUF PORT "STM_PCK[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STMVREF_SCL" SITE "L14" ;
IOBUF PORT "STMVREF_SCL" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "S2P_RCK" SITE "L12" ;
IOBUF PORT "S2P_RCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "S2P_SCK" SITE "K12" ;
IOBUF PORT "S2P_SCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "S2P_nCLR" SITE "L13" ;
IOBUF PORT "S2P_nCLR" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "S2P_nOE" SITE "K13" ;
IOBUF PORT "S2P_nOE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PORb" SITE "L16" ;
IOBUF PORT "PORb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "CLK20M" SITE "J16" ;
IOBUF PORT "CLK20M" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "LEDSH_RESETb" SITE "G16" ;
IOBUF PORT "LEDSH_RESETb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_nCS" SITE "H13" ;
IOBUF PORT "ADC_nCS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_MISO" SITE "J13" ;
IOBUF PORT "ADC_MISO" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "LEDSH_MOSI" SITE "G15" ;
IOBUF PORT "LEDSH_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "DPM_CLK" SITE "G14" ;
IOBUF PORT "DPM_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_MOSI" SITE "G13" ;
IOBUF PORT "ADC_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDSH_SCK" SITE "F15" ;
IOBUF PORT "LEDSH_SCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDSH_nCS" SITE "E15" ;
IOBUF PORT "LEDSH_nCS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_SCK" SITE "F13" ;
IOBUF PORT "ADC_SCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "P2S_SDI" SITE "D16" ;
IOBUF PORT "P2S_SDI" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "DPM_SD" SITE "F14" ;
IOBUF PORT "DPM_SD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "DPM_CSb" SITE "C15" ;
IOBUF PORT "DPM_CSb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDDRV_LE" SITE "E14" ;
IOBUF PORT "LEDDRV_LE" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "P2S_SLD" SITE "C16" ;
IOBUF PORT "P2S_SLD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDDRV_CLK" SITE "D14" ;
IOBUF PORT "LEDDRV_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDDRV_SD" SITE "C14" ;
IOBUF PORT "LEDDRV_SD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "LEDDRV_OEb" SITE "B15" ;
IOBUF PORT "LEDDRV_OEb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "P2S_SCK" SITE "B16" ;
IOBUF PORT "P2S_SCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[5]" SITE "A13" ;
IOBUF PORT "ACTb[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PUMPb[1]" SITE "C13" ;
IOBUF PORT "PUMPb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PUMPb[2]" SITE "D13" ;
IOBUF PORT "PUMPb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[6]" SITE "B13" ;
IOBUF PORT "ACTb[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[3]" SITE "C12" ;
IOBUF PORT "ACTb[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[4]" SITE "D12" ;
IOBUF PORT "ACTb[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[2]" SITE "B12" ;
IOBUF PORT "ACTb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[1]" SITE "A12" ;
IOBUF PORT "ACTb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[5]" SITE "A11" ;
IOBUF PORT "PLS_SNS[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[8]" SITE "D11" ;
IOBUF PORT "PLS_SNS[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[7]" SITE "C11" ;
IOBUF PORT "PLS_SNS[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[13]" SITE "E10" ;
IOBUF PORT "ENC_B[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[6]" SITE "B11" ;
IOBUF PORT "PLS_SNS[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[4]" SITE "D10" ;
IOBUF PORT "PLS_SNS[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[3]" SITE "C10" ;
IOBUF PORT "PLS_SNS[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[1]" SITE "A10" ;
IOBUF PORT "PLS_SNS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[2]" SITE "B10" ;
IOBUF PORT "PLS_SNS[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[11]" SITE "A9" ;
IOBUF PORT "ENC_A[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[13]" SITE "E9" ;
IOBUF PORT "ENC_A[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[12]" SITE "C9" ;
IOBUF PORT "ENC_A[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[12]" SITE "D9" ;
IOBUF PORT "ENC_B[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[11]" SITE "B9" ;
IOBUF PORT "ENC_B[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[10]" SITE "D7" ;
IOBUF PORT "ENC_A[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[7]" SITE "B6" ;
IOBUF PORT "ENC_B[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[10]" SITE "E7" ;
IOBUF PORT "ENC_B[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[8]" SITE "C6" ;
IOBUF PORT "ENC_A[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[8]" SITE "D6" ;
IOBUF PORT "ENC_B[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[7]" SITE "A6" ;
IOBUF PORT "ENC_A[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[9]" SITE "E6" ;
IOBUF PORT "ENC_B[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[5]" SITE "A5" ;
IOBUF PORT "ENC_A[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[5]" SITE "B5" ;
IOBUF PORT "ENC_B[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[6]" SITE "D5" ;
IOBUF PORT "ENC_B[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[6]" SITE "C5" ;
IOBUF PORT "ENC_A[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[9]" SITE "E5" ;
IOBUF PORT "ENC_A[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[3]" SITE "B4" ;
IOBUF PORT "ENC_A[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[4]" SITE "D4" ;
IOBUF PORT "ENC_A[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[3]" SITE "C4" ;
IOBUF PORT "ENC_B[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[4]" SITE "E4" ;
IOBUF PORT "ENC_B[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[2]" SITE "A4" ;
IOBUF PORT "ENC_A[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[2]" SITE "B3" ;
IOBUF PORT "ENC_B[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[1]" SITE "A3" ;
IOBUF PORT "ENC_B[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[1]" SITE "A2" ;
IOBUF PORT "ENC_A[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;

#============================================================================
# SP0557 Timing Constraint Optimization (Diamond PAR)
# Purpose: Fix S3IO communication errors at high LE utilization (>80%)
#
# Root Cause Analysis (2026-02-27):
#   Previous No.6 implementation had CRITICAL errors:
#   1. FDC clock net names were WRONG (referenced non-existent signals
#      inside pll_gen: CLKCOM_OUT, CLK2A instead of CLKOP, CLKOS).
#      Synplify silently ignored all FDC constraints.
#   2. AutoConstraint_SP0557.sdc was NOT properly disabled (both .sdc
#      and .sdc.bak existed). SDC had wrong periods and separate groups.
#   3. set_option -frequency auto caused SDC auto-regeneration.
#   4. LPF used wrong net names (CLKCOM_OUT open at top, / vs . separator).
#   5. No CLK2<->CLK2A constraint for cds.vhd CDR paths.
#
# Fix applied:
#   - pll_gen.fdc: Correct clock definitions using {p:PORT} references
#   - SP0557.fdc: Multicycle/false path constraints only
#   - AutoConstraint_SP0557.sdc: Emptied (constraints removed)
#   - SP0557_syn.prj: frequency auto -> 100.0, pll_gen.fdc added
#   - SP0557.lpf (this file): Net names corrected, CLK2<->CLK2A added
#
# Date: 2026-02-27
# Target: LFE5U-25F-6 CABGA256 (Lattice Diamond 3.13 / Synplify)
#============================================================================

#----------------------------------------------------------------------------
# Section 1: Explicit Clock Frequency Constraints
#
# Net name conventions (VHDL hierarchy, "." separator):
#   s_PLL_CLK20M             : Top-level signal in SP0557.vhd (CLKOS2 output)
#   slv_com_top_inst.CLK2    : 100MHz serial comm clock (CLKOP output)
#   slv_com_top_inst.CLK2A   : 100MHz CDR clock, 90deg (CLKOS output)
#   slv_com_top_inst.CLK1    : 10MHz slave control clock (CLKOS3 output)
#   CLK20M_c                 : External 20MHz input (PLL reference)
#   UP_CLK_c                 : External 20MHz input (alias for PLL ref)
#
# Note: "slv_com_top_inst.CLKCOM_OUT" was previously used but is WRONG -
# CLKCOM_OUT port is connected to "open" in SP0557.vhd, so the net may
# not exist post-synthesis. Use "slv_com_top_inst.CLK2" instead.
#
# Previously guard-banded at 115MHz, but DCFIFO C2Q delay (5.83ns) makes
# 115MHz unachievable (-1.275ns violation). Reverted to actual 100MHz.
# The critical path (Block RAM -> TX MGIOL) requires 9.823ns, which fits
# within 10ns (100MHz) but not 8.696ns (115MHz).
#----------------------------------------------------------------------------
FREQUENCY NET "s_PLL_CLK20M" 20.000000 MHz ;
FREQUENCY NET "slv_com_top_inst.CLK1" 10.000000 MHz ;
FREQUENCY NET "slv_com_top_inst.CLK2" 100.000000 MHz ;
FREQUENCY NET "slv_com_top_inst.CLK2A" 100.000000 MHz ;
FREQUENCY NET "UP_CLK_c" 20.000000 MHz ;

#----------------------------------------------------------------------------
# Section 2: FALSE_PATH - External Clock Domain Isolation
#   CLK20M_c is the external clock input that feeds the PLL.
#   No functional data transfer between CLK20M_c domain and
#   PLL output domains.
#----------------------------------------------------------------------------
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "s_PLL_CLK20M" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com_top_inst.CLK1" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com_top_inst.CLK2" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com_top_inst.CLK2A" ;
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com_top_inst.CLK1" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com_top_inst.CLK2" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com_top_inst.CLK2A" TO CLKNET "CLK20M_c" ;

#----------------------------------------------------------------------------
# Section 3: MULTICYCLE_PATH - s_PLL_CLK20M (20MHz) <-> CLK1 (10MHz)
#   Same PLL, 2:1 frequency ratio. ~2,478 paths relaxed.
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com_top_inst.CLK1" 2 X ;
MULTICYCLE FROM CLKNET "slv_com_top_inst.CLK1" TO CLKNET "s_PLL_CLK20M" 2 X ;

#----------------------------------------------------------------------------
# Section 4: BLOCK PATH - s_PLL_CLK20M <-> 100MHz Communication Clocks
#   No direct data transfer. All CDC via DCFIFO IP blocks.
#----------------------------------------------------------------------------
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com_top_inst.CLK2" ;
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com_top_inst.CLK2A" ;
BLOCK PATH FROM CLKNET "slv_com_top_inst.CLK2" TO CLKNET "s_PLL_CLK20M" ;
BLOCK PATH FROM CLKNET "slv_com_top_inst.CLK2A" TO CLKNET "s_PLL_CLK20M" ;

#----------------------------------------------------------------------------
# Section 5: MULTICYCLE_PATH - CLK1 (10MHz) <-> CLK2 (100MHz)
#   Same PLL, 10:1 frequency ratio.
#   CLK1->CLK2: Data stable for 10 CLK2 cycles. DCFIFO gray pointers.
#   CLK2->CLK1: 2X relaxation for CDC sync chains (CRC_ERR etc.)
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "slv_com_top_inst.CLK1" TO CLKNET "slv_com_top_inst.CLK2" 10 X ;
MULTICYCLE FROM CLKNET "slv_com_top_inst.CLK2" TO CLKNET "slv_com_top_inst.CLK1" 2 X ;

#----------------------------------------------------------------------------
# Section 6: MULTICYCLE_PATH - CLK1 (10MHz) <-> CLK2A (100MHz, 90deg)
#   Same as Section 5 but for CLK2A domain.
#   Internal to slv_com_top (rst_cnt sync chains).
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "slv_com_top_inst.CLK1" TO CLKNET "slv_com_top_inst.CLK2A" 10 X ;
MULTICYCLE FROM CLKNET "slv_com_top_inst.CLK2A" TO CLKNET "slv_com_top_inst.CLK1" 2 X ;

#----------------------------------------------------------------------------
# Section 7: UP_CLK Input Clock Port Constraint
#   Port-level frequency constraint at the pad level.
#----------------------------------------------------------------------------
FREQUENCY PORT "UP_CLK" 20.000000 MHz ;
