rvl_alias "clk20m" "clk20m";
RVL_ALIAS "s_pll_clk20m" "linear_signal_ctrl_inst_ch0/clk"; 
RVL_ALIAS "s_pll_clk20m" "linear_signal_ctrl_inst_ch0/clk"; 
RVL_ALIAS "s_pll_clk20m" "linear_signal_ctrl_inst_ch0/clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "PLT_ON" SITE "B2" ;
IOBUF PORT "PLT_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "FAN_ON[1]" SITE "C3" ;
IOBUF PORT "FAN_ON[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLT_SYNCb" SITE "C1" ;
IOBUF PORT "PLT_SYNCb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLT_EN" SITE "C2" ;
IOBUF PORT "PLT_EN" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_SYNCb" SITE "F3" ;
IOBUF PORT "STM_SYNCb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLT_SCLK" SITE "D1" ;
IOBUF PORT "PLT_SCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_SCLK" SITE "F4" ;
IOBUF PORT "STM_SCLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_MOSI" SITE "F5" ;
IOBUF PORT "STM_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLT_MOSI" SITE "E1" ;
IOBUF PORT "PLT_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[2]" SITE "L4" ;
IOBUF PORT "ACTb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[1]" SITE "L3" ;
IOBUF PORT "ACTb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PW_SV_ON" SITE "P2" ;
IOBUF PORT "PW_SV_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[3]" SITE "M3" ;
IOBUF PORT "ACTb[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PW_PUMP_ON" SITE "P1" ;
IOBUF PORT "PW_PUMP_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[4]" SITE "M4" ;
IOBUF PORT "ACTb[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[5]" SITE "N3" ;
IOBUF PORT "ACTb[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ACTb[6]" SITE "N4" ;
IOBUF PORT "ACTb[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PUMPb[1]" SITE "P3" ;
IOBUF PORT "PUMPb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PUMPb[2]" SITE "P4" ;
IOBUF PORT "PUMPb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_SCK" SITE "R4" ;
IOBUF PORT "ADC_SCK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_nCS" SITE "R3" ;
IOBUF PORT "ADC_nCS" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "ADC_MISO" SITE "T3" ;
IOBUF PORT "ADC_MISO" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ADC_MOSI" SITE "T4" ;
IOBUF PORT "ADC_MOSI" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
IOBUF PORT "SLVADR[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[5]" SITE "R13" ;
IOBUF PORT "SLVADR[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[4]" SITE "P13" ;
IOBUF PORT "SLVADR[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
IOBUF PORT "SLVADR[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
IOBUF PORT "SLVADR[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[7]" SITE "P14" ;
IOBUF PORT "SLVADR[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
IOBUF PORT "SLVADR[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SLVADR[6]" SITE "T13" ;
IOBUF PORT "SLVADR[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "UP_TXD" SITE "P16" ;
IOBUF PORT "UP_TXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=FAST CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SLV_ER" SITE "P15" ;
IOBUF PORT "SLV_ER" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "UP_RXD" SITE "N16" ;
IOBUF PORT "UP_RXD" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "UP_CLK" SITE "M16" ;
IOBUF PORT "UP_CLK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=OFF TERMINATION=OFF ;
LOCATE COMP "PORb" SITE "L16" ;
IOBUF PORT "PORb" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "CLK20M" SITE "J16" ;
IOBUF PORT "CLK20M" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[2]" SITE "C15" ;
IOBUF PORT "PLS_SNS[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PTLEDb[2]" SITE "C16" ;
IOBUF PORT "PTLEDb[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PW_PLS_ON" SITE "C14" ;
IOBUF PORT "PW_PLS_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PLS_SNS[1]" SITE "B15" ;
IOBUF PORT "PLS_SNS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PTLEDb[1]" SITE "B16" ;
IOBUF PORT "PTLEDb[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_LCW[1]" SITE "A13" ;
IOBUF PORT "STM_LCW[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SNS[1]" SITE "C13" ;
IOBUF PORT "SNS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "SNS[2]" SITE "D13" ;
IOBUF PORT "SNS[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "STM_LCCW[1]" SITE "B13" ;
IOBUF PORT "STM_LCCW[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_A[1]" SITE "C12" ;
IOBUF PORT "ENC_A[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "ENC_B[1]" SITE "D12" ;
IOBUF PORT "ENC_B[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "FAN_SNS[1]" SITE "A12" ;
IOBUF PORT "FAN_SNS[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=NA SLEWRATE=NA CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=ON TERMINATION=OFF ;
LOCATE COMP "PW_LMT_ON" SITE "A11" ;
IOBUF PORT "PW_LMT_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "PW_SNSLED_ON" SITE "C11" ;
IOBUF PORT "PW_SNSLED_ON" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_M0S" SITE "B6" ;
IOBUF PORT "STM_M0S" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_M0Z" SITE "A6" ;
IOBUF PORT "STM_M0Z" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_nSLP" SITE "B4" ;
IOBUF PORT "STM_nSLP" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_DIR" SITE "D4" ;
IOBUF PORT "STM_DIR" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_EN" SITE "C4" ;
IOBUF PORT "STM_EN" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_M1" SITE "E4" ;
IOBUF PORT "STM_M1" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "STM_PCK[1]" SITE "A4" ;
IOBUF PORT "STM_PCK[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW CLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" HYSTERESIS=NA TERMINATION=OFF ;
LOCATE COMP "SLVADR[0]" SITE "R14" ;
LOCATE COMP "SLVADR[1]" SITE "T14" ;
LOCATE COMP "SLVADR[2]" SITE "R15" ;
LOCATE COMP "SLVADR[3]" SITE "T15" ;
BLOCK JTAGPATHS ;
IOBUF PORT "STM_nFAULT[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_LMT" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_PLS" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_PLSSNS" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_PUMP" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_SNSLED" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "nFLT_SV" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "nFLT_SV" SITE "R2" ;
LOCATE COMP "nFLT_PUMP" SITE "N1" ;
LOCATE COMP "nFLT_PLS" SITE "D14" ;
LOCATE COMP "nFLT_PLSSNS" SITE "E14" ;
LOCATE COMP "nFLT_LMT" SITE "B11" ;
LOCATE COMP "nFLT_SNSLED" SITE "D11" ;
LOCATE COMP "STM_nFAULT[1]" SITE "B3" ;
LOCATE COMP "nFLT_PLT" SITE "B1" ;
IOBUF PORT "nFLT_PLT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

#============================================================================
# Timing Constraints for SP0565 (PCBNo.10089)
# Ported from SP0557 (PCBNo.10081) 修正履歴 No.1-No.14
# Date: 2026-04-12
#
# Clock Tree (PLL: EHXPLLL, input UP_CLK 20MHz):
#   s_PLL_CLK20M                : 20MHz (CLKOS2)
#   slv_com.CLK1                : 10MHz (CLKOS3 -> port CLK1)
#   slv_com.CLKCOM_OUT          : 100MHz (CLKOP -> port CLKCOM_OUT)
#   slv_com/CLK2A               : 100MHz, 90deg (CLKOS -> internal signal)
#   CLK20M_c                    : External 20MHz input (PLL reference)
#   UP_CLK_c                    : External 20MHz input (communication)
#
# Note: Instance name mapping from SP0557:
#   SP0557: slv_com_top_inst  ->  SP0565: slv_com
#   CLK2A uses "/" (internal signal), CLKCOM_OUT uses "." (port)
#
# Clock net names verified against SP0565_SP0565.twr (2026-04-09)
#============================================================================

#----------------------------------------------------------------------------
# Section 1: Explicit FREQUENCY Constraints (5 clocks)
#   Override Synplify auto-detection with correct PLL output frequencies.
#   CLKCOM_OUT set to 100MHz (actual PLL output, not guard-band).
#----------------------------------------------------------------------------
FREQUENCY NET "s_PLL_CLK20M" 20.000000 MHz ;
FREQUENCY NET "slv_com.CLK1" 10.000000 MHz ;
FREQUENCY NET "slv_com.CLKCOM_OUT" 100.000000 MHz ;
FREQUENCY NET "slv_com/CLK2A" 100.000000 MHz ;
FREQUENCY NET "UP_CLK_c" 20.000000 MHz ;

#----------------------------------------------------------------------------
# Section 2: BLOCK PATH - External Clock Domain Isolation
#   CLK20M_c is the external clock input that feeds the PLL.
#   No functional data transfer between CLK20M_c domain and
#   PLL output domains.
#----------------------------------------------------------------------------
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "s_PLL_CLK20M" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com.CLK1" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com.CLKCOM_OUT" ;
BLOCK PATH FROM CLKNET "CLK20M_c" TO CLKNET "slv_com/CLK2A" ;
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com.CLK1" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com.CLKCOM_OUT" TO CLKNET "CLK20M_c" ;
BLOCK PATH FROM CLKNET "slv_com/CLK2A" TO CLKNET "CLK20M_c" ;

#----------------------------------------------------------------------------
# Section 3: MULTICYCLE_PATH - s_PLL_CLK20M (20MHz) <-> CLK1 (10MHz)
#   Same PLL, 2:1 frequency ratio. Data stable for 2 cycles.
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com.CLK1" 2 X ;
MULTICYCLE FROM CLKNET "slv_com.CLK1" TO CLKNET "s_PLL_CLK20M" 2 X ;

#----------------------------------------------------------------------------
# Section 4: BLOCK PATH - s_PLL_CLK20M <-> 100MHz Communication Clocks
#   No direct data transfer. All CDC via DCFIFO IP blocks.
#----------------------------------------------------------------------------
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com.CLKCOM_OUT" ;
BLOCK PATH FROM CLKNET "s_PLL_CLK20M" TO CLKNET "slv_com/CLK2A" ;
BLOCK PATH FROM CLKNET "slv_com.CLKCOM_OUT" TO CLKNET "s_PLL_CLK20M" ;
BLOCK PATH FROM CLKNET "slv_com/CLK2A" TO CLKNET "s_PLL_CLK20M" ;

#----------------------------------------------------------------------------
# Section 5: MULTICYCLE_PATH - CLK1 (10MHz) <-> CLKCOM_OUT (100MHz)
#   Same PLL, 10:1 frequency ratio.
#   CLK1->CLKCOM_OUT: Data stable for 10 cycles. DCFIFO gray pointers.
#   CLKCOM_OUT->CLK1: 2X relaxation for CDC sync chains (CRC_ERR etc.)
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "slv_com.CLK1" TO CLKNET "slv_com.CLKCOM_OUT" 10 X ;
MULTICYCLE FROM CLKNET "slv_com.CLKCOM_OUT" TO CLKNET "slv_com.CLK1" 2 X ;

#----------------------------------------------------------------------------
# Section 6: MULTICYCLE_PATH - CLK1 (10MHz) <-> CLK2A (100MHz, 90deg)
#   Same as Section 5 but for CLK2A domain.
#   Internal to slv_com_top (rst_cnt sync chains).
#----------------------------------------------------------------------------
MULTICYCLE FROM CLKNET "slv_com.CLK1" TO CLKNET "slv_com/CLK2A" 10 X ;
MULTICYCLE FROM CLKNET "slv_com/CLK2A" TO CLKNET "slv_com.CLK1" 2 X ;

#----------------------------------------------------------------------------
# Section 7: UP_CLK Input Clock Port Constraint
#   Port-level frequency constraint at the pad level.
#   Ensures input path timing is properly analyzed.
#----------------------------------------------------------------------------
FREQUENCY PORT "UP_CLK" 20.000000 MHz ;
