#
# Logical Preferences generated for Lattice by Synplify map202309lat, Build 191R.
#

# Period Constraints 
FREQUENCY PORT "CLK20M" 20.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 

MULTICYCLE FROM CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLK1"  TO CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLKCOM_OUT"  10X;
MULTICYCLE FROM CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLKCOM_OUT"  TO CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLK1"  2X;
MULTICYCLE FROM CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/s_PLL_CLK20M"  TO CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLK1"  2X;
MULTICYCLE FROM CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/CLK1"  TO CLKNET "slv_com_top_inst/clk_gen_inst2/PLL_inst/s_PLL_CLK20M"  2X;


# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
